@model bookyourdoctor.admin

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/Dasbord.cshtml";
}

<h2></h2>
<body style="background-image:url(../images/benefits-of-online-doctor-appointment-system.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height:400px;">
    </body>

